<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="icon" href="data:;base64,=">
        <title>{{ if .Title }}{{ .Title }}{{ else }}Zero{{ end }}</title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <header class="header">
            {{ if .IsLoggedIn }}
                <a href="/home" class="header__logo">Zero</a>
                <span class="header__info">
                    {{ .Me.Email }}
                    &nbsp;
                    <a href="/logout">Logout</a>
                </span>
            {{ else }}
                <a href="/" class="header__logo">Zero</a>
            {{ end }}
        </header>
        {{ if .Alert }}<div class="alert">{{ .Alert }}</div>{{ end }}
        {{ if .Info }}<div class="info">{{ .Info }}</div>{{ end }}
        {{ template "content" . }}
    </body>
</html>
